@media(min-width: 992px){
	.col-lg-4{
		width: 33%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-12{
		width: 100%;
	}
}
@media(max-width: 768px and min-width: 991px){
	.col-md-4{
		width: 33%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}
@media(max-width: 767px){
	.col-sm-4{
		width: 33%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-12{
		width: 100%;
	}
}
